{% extends 'base.html' %}
{% load static %}
{% block contenido %}
    
            
        </div>
    
</head>
<body>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-md-6">
                <div class="card">
                    <div class="card-body">
                        <h2>Ingresa tus credenciales</h2>
                        <hr>
                        <form action="" method="post">
                            {% csrf_token %}
                            {{ form }}
                            <button type="submit" class="btn btn-primary btn-block mt-3">Ingresar</button>
                            <a href="{% url 'home' %}" class="link-home btn btn-success float-right">Ir a Inicio</a>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Bootstrap JS and dependencies -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    
</body>
{% endblock %}
